body {
  padding: 0px;
  margin: 0px;
}

.appBackgroundColor {
  background: #f0f0f0;
}

/* .map {
  position: absolute;
  height: 10vh;
  width: 10vw;
} */

.magicPadding {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.deal-card {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  justify-content: space-around;
}


.hidden {
  display: none;
}

.banner {
  display: flex;
  /* background: #f0f0f0; */
  justify-content: space-around;
}

.time-filter-buttons {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  height: 14vh;
  width: 15vw;
}

.ui.button.clickHere {
  margin-top: 2.5vh;
  height: 10vh;
}

.ui.cards.styledCards{
  /* margin: 2vh 0 0 2vh; */
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vw;
}

.ui.cards.dealsCards {
  padding-left: 1vw;
  padding-right: 1vw;

}

/*-------------Form--------------*/
.form-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.form input,
.form textarea,
.form fieldset {
  width: 100%;
  padding: 12px 20px;
  margin: 10px auto 10px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.form input[type=submit] {
  color: #fff;
  background-color: #d55a35;
  cursor: pointer;
}

.form input[type=submit]:hover {
  color: #dadada;
}

input.rc-time-picker-input {
  width: 12.5vw;
}
