.header-top {
    display: flex;
    background: pink;
    justify-content: space-between;
}

.map {
    position: absolute;
    height: 3vh;
    width: 3vw;
}

.deal-card {
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
}